<%- include("partials/header3") %> 

<section class="contact">
	<div class="content">
		<h2>CONTACT US</h2>
	</div>
		<div class="contactform">
			<form>
			<h2>Send Message</h2>
			<div class="inputBox">
				<input type="text" id="fullname" required="required">
				<span>Full Name</span>
			</div>
			<div class="inputBox">
				<input type="email" id="email" required="required">
				<span>Email</span>
			</div>
			<div class="inputBox">
				<textarea id="text" name= "text" required="required"></textarea>
				<span>Type the Message...</span>
			</div>
				<div class="inputBox">
					<input type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
<div class="container">
		<div class="contactinfo">
			<div class="box">
				<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="text">
						<h4>Address</h4>
						<p>
						   Abhishek Tk<br>
						   Anugraha,
						   (PO)Olayambadi <br>MM-Bazar,
						   Kannur 670306
						</p>
				</div>
			</div>
			<div class="box">
				<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
					<div class="text">
						<h4>Phone</h4>
						<p>9495541910<br>6238071305</p>
				</div>
			</div>
			<div class="box">
				<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
					<div class="text">
						<h4>Email</h4>
						<p>kenhobbswebdev41@gmail.com</p>
				</div>
			</div>
		</div>
</section>

<%- include("partials/footer") %> 