<%- include("partials/header") %> 
		
	    <section class="sec">
		<div class="content">
			<div class="textBox">
				<h2>That's What<br><span>I Like</span></h2>
				<p>
				A web series is a series of scripted or non-scripted online videos, generally in episodic form, released on the Internet and part of the web television medium, which first emerged in the late 1990s and became more prominent in the early 2000s. A single instance of a web series program can be called an episode or "webisode", however the latter term is not often used. 	
				</p>
				<a href="/home">View the Blog</a>
			</div>
			<div class="imgBox">
				<img src="https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/Money-Heist-Mask-PNG-Clipart.png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGTW9uZXktSGVpc3QtTWFzay1QTkctQ2xpcGFydC5wbmc=&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=zUlmt6drnsx9JSeVvVF_703oyaMar-Wd" class="mh">
			</div>
		</div>
			<ul class="thumb">
				<li><img src="https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/output-onlinepngtools%20(3).png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGb3V0cHV0LW9ubGluZXBuZ3Rvb2xzJTIwKDMpLnBuZw==&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=EFQ1Kl4l2nHaXG82Aa9R69i7IPyU1KzR" 
						 onclick="imgSlider('https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/Money-Heist-Mask-PNG-Clipart.png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGTW9uZXktSGVpc3QtTWFzay1QTkctQ2xpcGFydC5wbmc=&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=zUlmt6drnsx9JSeVvVF_703oyaMar-Wd');changeBgColor('#1a1a1a')"></li>
				<li><img src="https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/output-onlinepngtools%20(4).png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGb3V0cHV0LW9ubGluZXBuZ3Rvb2xzJTIwKDQpLnBuZw==&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=EFQ1Kl4l2nHaXG82Aa9R69i7IPyU1KzR" 
						 onclick="imgSlider('https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/Stranger-Things-PNG-File.png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGU3RyYW5nZXItVGhpbmdzLVBORy1GaWxlLnBuZw==&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=EOyMP-lrC_j0XOPDR0IlrEcWgkxAYZYn');changeBgColor('#000099')"></li>
				<li><img src="https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/output-onlinepngtools%20(5).png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGb3V0cHV0LW9ubGluZXBuZ3Rvb2xzJTIwKDUpLnBuZw==&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=EFQ1Kl4l2nHaXG82Aa9R69i7IPyU1KzR" 
						 onclick="imgSlider('https://proxy-ap-south1.goorm.io//service/5edcf52b0f4852dbe55cdf27_dcqyub1y7dLS2OsZ2mh.run-ap-south1.goorm.io/9080//file/load/output-onlinepngtools%20(7).png?path=d29ya3NwYWNlJTJGQ29weSUyRnB1YmxpYyUyRnN0eWxlc2hlZXRzJTJGb3V0cHV0LW9ubGluZXBuZ3Rvb2xzJTIwKDcpLnBuZw==&docker_id=dcqyub1y7dLS2OsZ2mh&secure_session_id=EOyMP-lrC_j0XOPDR0IlrEcWgkxAYZYn');changeBgColor('#e6b800')"></li>
			</ul>
		</section>
		<script type="text/javascript">
		function imgSlider(anything){
			document.querySelector(".mh").src = anything;
		}
		function changeBgColor(color){
			const sec=document.querySelector("body");
			sec.style.background = color;
		} 
		</script>


<%- include("partials/footer") %> 
