body{
	margin:0;
	padding:0;
	font-family: 'Noto Sans JP', sans-serif;
	align:flex;
	
}

.full{
	position:absolute;
	top:0%;
	width:800px;
	padding:30px;
	margin-top:80px; 
	color:#fff;
}

.container{
	position:relative;
	border-bottom:dashed 2px #fff; 
	left:50%;
	margin-bottom:30px;
}

.square img{
	width:250px;
	height:350px;
	float:left;
	shape-outside:square;
	margin:30px;
	border:solid 2px #fff;
	margin:60px 30px 25px 0;
}

.square img:hover{
	transform:scale(1.1,1.1);
}

.container p{
	margin:0;
	padding:0;
	text-align:justify;
	line-height:22px;
	font-size:16px;
}

.container h1{
	font-size:30px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing:2px;
	color:red;
}
.container h2{
	color:red;
	
}
.container p{
	margin-top:10px;
}
.i-n{
	display:flex;
	float:left;
	margin-top:40px; 
	padding:8px 20px;
	background:transparent;
	color:#fff;
	border-radius:40px;
	font-weight:500;
	letter-spacing:1px;
	text-decoration:none;
	margin-bottom:10px;
	margin-left:20px;
	border:solid 2px #fff;
}
.imdb-netflix{
	position:relative;
	display:flex;
	/* float:left; */
	margin-left:200px;
	margin-bottom:20px;
}

.i-n:hover{
	background:red;
	color:#fff;
	
}
.review{
	position:relative;
	color:#fff;
	width:800px;
	top:125%;
	left:46%; 
	border:solid 1px #fff;
	margin-bottom:20px;
	overflow:scroll;
	 
	
}



.review a{
	border-radius:none;
}

.review form input{
	margin-bottom:10px;
	padding-left:20px;
}
.text-right{
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	border-bottom:solid 1px #fff;
}
.rev{
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}
.rev strong{
	color:red;
}